{% extends 'base.html' %}

{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
{% for item in object_list %}
<div class="card mb-3">
    <div class="card-header">
        {{ forloop.counter }} / {{news|length}} Категория: <a href="{{ item.category.get_absolute_url }}"> {{ item.category }} </a>
    </div>
    <div class="card-body">
        <div class="media">
            {% if item.photo %}
            <img src="{{ item.photo.url }}" alt="" width="200" class="mr-3">
            {% else %}
            <img src="https://s2.best-wallpaper.net/wallpaper/iphone/1610/Palm-trees-clouds-dusk_iphone_750x1334.jpg" alt="" width="200" class="mr-3">
            {%   endif %}
            <div class="media-body">
                <h5 class="card-title">{{ item.title }}</h5>
                {% autoescape off %}
                <p class="card-text">{{ item.content|linebreaks|truncatewords:50 }}</p>
                {% endautoescape %}
                <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more...</a>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        {{ item.created_at|date:"Y-m-d H:i:s"}}
    </div>
</div>
{% empty %}
  Oops... Here is nothing
{% endfor %}
{% endblock %}